.container {
    @apply 
        mx-auto
        px-4;

    max-width: theme('screens.xl');
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

.container-small {
  width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}
  
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 1;
  }
  
  .overlay {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    position: absolute;
  }
  
